In [22]:
#Using tensorflow 2.10
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import numpy as np
import tensorflow as tf

In [23]:
adress = r'C:\Users\Lara\Downloads\house_prices.csv'
content = pd.read_csv(adress)

In [24]:
content.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [25]:
square_footage = content.iloc[:, 5:6] #todas as linhas, coluna 5, não pega o lower
house_price = content.iloc[:, 2:3] #não pega o lower

In [26]:
square_footage_training, square_footage_test, house_price_training, house_price_test = train_test_split(square_footage, house_price, test_size=0.3)

In [27]:
def training_input_fn():
    dataset = tf.data.Dataset.from_tensor_slices(({'column': np.array(square_footage_training)}, np.array(house_price_training)))
    dataset = dataset.shuffle(buffer_size=len(square_footage_training))
    dataset = dataset.batch(32)
    return dataset

In [28]:
def test_input_fn():
    dataset = tf.data.Dataset.from_tensor_slices(({'column': np.array(square_footage_test)}, np.array(house_price_test)))
    dataset = dataset.shuffle(buffer_size=len(house_price_test))
    dataset = dataset.batch(32)
    return dataset

In [17]:
model = tf.keras.Sequential([
    tf.keras.layers.Input(shape=(1,), name='column'),  # Input layer
    tf.keras.layers.Dense(1)  # Linear output layer
])

In [18]:
model.compile(optimizer='adam', loss='mse')

In [29]:
model.fit(training_input_fn(), epochs=100, steps_per_epoch=len(square_footage_training) // 32)

Epoch 1/100
472/472 [==============================] - 0s 722us/step - loss: 431477456896.0000
Epoch 2/100
  1/472 [..............................] - ETA: 0s - loss: 406612639744.0000WARNING:tensorflow:Your input ran out of data; interrupting training. Make sure that your dataset or generator can generate at least `steps_per_epoch * epochs` batches (in this case, 47200 batches). You may need to use the repeat() function when building your dataset.
472/472 [==============================] - 0s 42us/step - loss: 406612639744.0000

In [35]:
result_test = model.evaluate(x={'column': np.array(square_footage_test)}, y=np.array(house_price_test))
result_training = model.evaluate(x={'column': np.array(square_footage_training)}, y=np.array(house_price_training))

203/203 [==============================] - 0s 795us/step - loss: 413216276480.0000
473/473 [==============================] - 0s 640us/step - loss: 430803353600.0000